.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data files
*.html
*.csv
*.xlx
*.xls
*.xlsx
*.rds
*.png
*.docx
*.DS_Store
*.Rproj
*.sbx
*.prj
*.xml
*.shp
*.sbn
*.shx
*.cpg
*.dbf
/data/.DS_Store

# Output files from R CMD build
*/old/